.page-item.active .page-link {background-color: #9c27b0;border-color: #9c27b0;}
.page-link {color: #9c27b0;}
.hw-100{height:100px !important;}
.btn.dropdown-toggle.select-with-transition{float:left;}
.delete-form,.export-to-csv,.export-to-xlsx{display:inline-block !important;}
.sidebar .nav li:hover>a, .sidebar .nav li .dropdown-menu a:hover, .sidebar .nav li .dropdown-menu a:focus, .sidebar .nav li.active>[data-toggle="collapse"] {background-color: rgba(200, 200, 200, 0.5);}
.material-icons.md-100 {font-size:100px;}
.form-group input[type=file]{opacity:1;position:initial;}
.table.column-2 td:nth-child(2){width:30% !important;}
.dataTables_filter label {width: 100%;}
.mce-tinymce.mce-container.mce-panel{top:10px;}
#webspacesPerPlatform .ct-label, #webspacesSupport .ct-label{font-size:10px;stroke:#ffffff;}
#webspacesPerPlatform.ct-chart{fill:#66bb6a !important;}
.ct-series-a .ct-slice-donut {stroke: #ff9800 !important;}
.ct-series-b .ct-slice-donut {stroke: #f44336 !important;}
.ct-series-c .ct-slice-donut {stroke: #0000FF !important;}
.ct-series-d .ct-slice-donut {stroke: #00bcd4!important;}
.ct-series-e .ct-slice-donut {stroke: #8e24aa!important;}
.ct-series-f .ct-slice-donut {stroke: #00FF00!important;}
.ct-series-g .ct-slice-donut {stroke: #FFFF00!important;}
.ct-series-h .ct-slice-donut {stroke: #2F4F4F!important;}
.ct-series-i .ct-slice-donut {stroke: #85C1E9!important;}
.ct-series-j .ct-slice-donut {stroke: #566573!important;}
.ct-series-k .ct-slice-donut {stroke: #C39BD3!important;}
.ct-series-l .ct-slice-donut {stroke: #F2D7D5!important;}
.ct-series-m .ct-slice-donut {stroke: #873600!important;}
.ct-series-n .ct-slice-donut {stroke: #D1F2EB!important;}
.ct-series-d .ct-slice-donut-solid {stroke: #0000FF !important;fill: #0000FF !important;}